@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Email"]</p>

<hr />
<address>
    <strong>More information: <a href="https://www.google.com" target="new">Clique aqui</a></strong>
</address>
<p>Use this area to provide additional information.</p>